@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.barradashboard {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    width: 100%  ;
    background-color:  #6bad60;
    justify-content: center;
    height:40px;
    border-radius: 30px;
    margin-top: 4%;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.tituloDashboard {
     text-align: center;
}
.voltarDashboard {
    font-family: "Poppins", sans-serif;
    position: absolute;
    right: 40px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.total-graficos {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-left: 180px;
}

.estilo-grafico1 {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.estilo-grafico2 {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.allkpi {
    top: 30;
}

.kpi_1 {
    display: flex;
    width: 30%;
    background-color: #6bad60;
    justify-content: center;
    height: auto;
    border-radius: 30px;
    position: fixed;
    right: 20px;  
    bottom: 600px; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}

.kpi_2 {
    display: flex;
    width: 30%;
    background-color: #6bad60;
    justify-content: center;
    height: auto;
    border-radius: 30px;
    position: fixed;
    right: 20px;  
    bottom: 500px; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}

.kpi_3 {
    display: flex;
    width: 30%;
    background-color: #6bad60;
    justify-content: center;
    height: auto;
    border-radius: 30px;
    position: fixed;
    right: 20px;  
    bottom: 350px; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
.kpi_4 {
    display: flex;
    width: 30%;
    background-color: #6bad60;
    justify-content: center;
    height: auto;
    border-radius: 30px;
    position: fixed;
    right: 20px;  
    bottom: 250px; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
.kpi_5 {
    display: flex;
    width: 30%;
    background-color: #6bad60;
    justify-content:center;
    height: auto;
    border-radius: 30px;
    position: fixed;
    right: 20px;  
    bottom: 100px; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
