<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="site.css">
    <meta charset="UTF-8">
    <title>AgroSense - Sistema</title>
</head>

<body>
    <main class="cadastro">

        <div id="tela_cadastro" class="div_tela_cadastro_login">
            <h2 class="tituloAgroSense">AgroSense</h2> <br>
            <h3>Cadastro de Usuário</h3> <br>
            Nome da Empresa: <br>
            <input class='ipt' type="text" id="ipt_Empresa" placeholder="Morangos Silvestres"> <br><br>
            Usuário (Email): <br>
            <input class='ipt' type="text" id="ipt_User" placeholder="josé@morangos.silvestres.com"> <br><br>
            Senha: <br>
            <input class='ipt' type="password" id="ipt_Senha_User" placeholder="senhasilvestres"> <br><br>
            
            <button id="button_registro" onclick="Registrar()">Cadastrar</button> <br><br>
            <a class='acesso' href="Site Estático Login.html">Já tem conta? Faça Login</a>
        </div>
    </main>

    <br>
    <div id="div_msg"></div>
</body>

<script src="Site Estático.js">
</script>